- var title='TrapeCSSoid demo'
- var trapecssoidClassPrefix='trapecssoid'
- var angles=['30', '45', '60']
- var trapecssoidClasses={'left': ['left-top', 'left-bottom'], 'right': ['right-top', 'right-bottom']}
- var desc='Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue felis, vehicula vel magna sit amet, interdum lacinia lacus. Vestibulum pellentesque augue sed ipsum mollis mollis.'
